.body{
    background-color: #fafafa;

}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(../resource/img/dino.png);
    position: absolute;
    bottom: 0;
}

.cactus{
    width: 60px;
    height: 60px;
    background-image: url(../resource/img/cactus.png);
    position: absolute;
    bottom: 0;
}

.game-over{
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

@keyframes backgroundSlidLeftToRight {
    from{
        background-position: 60000%;
    } to {
        background-position: 0%;
    }
}

.background {
    position: absolute;
    bottom: 0px;
    background-image: url(../resource/img/background.png);
    background-repeat:repeat-x;
    animation: backgroundSlidLeftToRight 600s infinite linear;
    -webkit-animation: backgroundSlidLeftToRight 600s infinite linear;
    width: 1060px;
    height: 200px;

}

